@charset "utf-8";
.header__routine {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    margin-bottom: 25px;
}
.header__routine .btn__back {
    position: absolute;
    left: 0;
    top: 5px;
}
.header__routine h1 {
    font-size:26px;
    font-weight: bold;
    color:var(--TEXT-COLOR1) !important;
}
.page__add__routine .radio__wrap {
    margin-bottom: 10px;
}

.formbox.timepicker {
    padding-bottom: 25px;
}
.formbox.timepicker .timepickerLabel {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100px;
    margin-bottom: 5px;
}
.formbox.timepicker .timepickerLabel label {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.formbox.timepicker .timepickerLabel label input {
    position: fixed;
    left: -9999px;
}
.formbox.timepicker .timepickerLabel label span {
    color:var(--TEXT-COLOR3);
    font-size:14px;
    padding-left: 5px;
}
.formbox.timepicker .timepickerLabel label.active span {
    color:var(--TEXT-COLOR4);
}
.formbox.timepicker .timepickerLabel label i {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../images/ico_radio_off.svg) 50% /contain no-repeat;
}
.formbox.timepicker .timepickerLabel label.active i {
    background: url(../images/ico_radio_on.svg) 50% /contain no-repeat;
}
.formbox.timepicker .timepickerLabel label:first-child {
    margin-bottom: 30px;
}

.formbox.timepicker .timepickerbox {
    width: calc(100% - 100px);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.formbox.timepicker .timepickerbox>div button {
    display: block;
}
.formbox.timepicker .timepickerbox .bg {
    background: var(--BACK-COLOR7);
}
.formbox.timepicker .timepickerbox .inputType1 {
    width: 220px;
    height: 38px;
}
.rolldate-container .rolldate-btn{
    top: 20px;
}
.rolldate-btn,
.rolldate-container .wheel-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.timepicker__outer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.timepicker {
    position: relative;
}
.timepicker .inputType1 {
    color:var(--TEXT-COLOR4);
}
.timepicker img {
    position: absolute;
    right: 15px;
    top: 5px;
}
.alarmlist {}
.alarmlist li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.alarmlist li .left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.alarmlist li .left span {
    color:var(--BACK-COLOR1);
    font-size:14px;
}
.btn__write__memo {
    background: none;
}
.btn__write__memo img {
    margin-left: 12px !important;
}

.checkbox__wrap__day {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;
    gap: 7px;
}
.checkbox__wrap__day label {
    border: 1px solid var(--TEXT-COLOR3);
    border-radius: 50%;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkbox__wrap__day label.active {
    border:1px solid var(--MAIN-COLOR1);
}
.checkbox__wrap__day label input {
    position: fixed;
    left:-9999px;
}
.checkbox__wrap__day label span {
    color:var(--TEXT-COLOR3);
    font-size:15px;
    position: relative;
    top: 1px;
}
.checkbox__wrap__day label.active span {
    color:var(--MAIN-COLOR1);
}
.routineTime {
    padding:18px 13px;
}
.popup.btm {
    top:100%;
    align-items: flex-end;
}
.popup.btm.active {
    top: 0;
}
.popup.btm .content {
    top: 100%;
}
.popup.btm.active .content {
    top: 0;
}
.popup.btm .bg {
    opacity: 0;
}
.popup.btm.active .bg {
    opacity: 1;
}
.popup.btm .bg {
    transition-duration: .5s;
}
.popup.btm .content {
    z-index: 1;
    position: relative;
    background: #fff;
    width: 100%;
    height: auto;
    border-radius: 15px 15px 0 0;
    padding: 30px 25px 55px;
    transition-duration: .5s;
    max-width: 480px;
}
.popup.btm .head {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 25px;
}
.popup.btm .head h5 {
    font-size:20px;
    color:var(--TEXT-COLOR1);
}
.popup.btm .head .btn__close {
    position: absolute;
    right: 0;
    top:0;
}
.popup.writeMemo.btm .content .body {
    text-align: center;
}
.popup.writeMemo .content .body h6 {
    font-size:16px;
    margin-bottom: 50px;
    color:var(--TEXT-COLOR4);
}
.popup.writeMemo .content .body textarea {
    border-radius: 16px;
    width: 100%;
    height:216px;
    border: 0;
    box-shadow:3px 3px 8px 4px rgba(0,0,0,0.08);
    background: var(--BACK-COLOR4);
    padding: 15px 10px;
    font-size:15px;
    resize:none;
    margin-bottom: 40px;
}

.popup.writeMemo .content .body .btnbox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}
.popup.writeMemo .content .body .btnbox button {
    width:57px;
    height:34px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:3px 3px 8px 4px rgba(0,0,0,0.08);
    border-radius: 16px;
    font-size:14px;
}

.popup.writeMemo .content .body .btnbox button.active {
    background: var(--MAIN-COLOR1);
    color:#fff;
}

/* action */
.page__add__action {}
.actiontime {
    color:#fff;
    font-size:14px;
    margin:0 auto;
    background: var(--MAIN-COLOR1);
    width: 140px;
    text-align: center;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}
.actiontime.other {
    margin:0;
}
.action__btnbox {
    margin-top: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.action__btnbox button {
    font-size:14px;
    color:var(--TEXT-COLOR4);
}
.action__btnbox button b {
    font-size:14px;
}
.action__none {
    margin-top: 160px;
    margin-bottom: 160px;
    text-align: center;
    font-size:14px;
    line-height: 1.6;
    color:var(--BACK-COLOR1);
}
.btn__next.play {
    width: 100%;
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    position: fixed;
    bottom:30px;
    left:calc(50% - 75px)
}

.editbox {
    margin-top: 30px;
}
.editbox button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--BACK-COLOR4);
    margin-bottom: 15px;
    border-radius: 16px;
    box-shadow:3px 3px 8px 4px rgba(0,0,0,.08);
    padding: 15px 15px 15px 20px;
}

.editbox button span {
    font-size:14px;
}

.editbox button img {
    width:24px;
}
.editbox .left {
    display: flex;
    justify-content: center;
    align-items: center;
}
.editbox .left span {
    color:var(--TEXT-COLOR4);
}
.editbox .right {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn__next.comment {
    max-width:220px;
    margin:0 auto;
    border-radius: 20px;
    padding: 9px 0;
    margin-top: 120px;
    box-shadow: none;
    position: fixed;
    bottom: 30px;
    left:calc(50% - 110px);
}
.btn__next.comment span {
    color:#fff;
    font-size:14px;
}
.popup.ended.isRemove .content {
    height:183px;
}
.popup.ended.isRemove .content p {
    padding:15px 0 35px
}
.popup.actionRecommand {}
.popup.actionRecommand .content {
    height: calc(100vh - 70px);
}
.action__category {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    overflow-x:auto;
    padding: 10px 0;
}
.action__category label {
    padding: 7px 15px;
    font-size:14px;
    color:var(--TEXT-COLOR4);
    white-space: nowrap;
}
.action__category label.active {
    background: var(--MAIN-COLOR1);
    color:#fff;
    border-radius: 16px;
    box-shadow:3px 3px 8px 4px rgba(0,0,0,0.08);
}
.action__category input {
    position: fixed;
    left:-9999px;
}

.action__list {
    display: block;
    margin-top: 20px;
    padding: 10px;
    height:calc(100vh - 210px);
    overflow:auto;
    overflow-x:hidden;
}
.action__list button {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow:3px 3px 8px 3px rgba(0,0,0,0.08);
    border-radius: 16px;
    margin-bottom: 15px;
    padding: 5px 15px;
    background: var(--BACK-COLOR4);
}
.action__list button img {
    height:36px;
    margin-right: 5px;
}
.action__list span {
    color:var(--TEXT-COLOR4);
    font-size:14px;
}

.action__list span.active {
    font-weight: 700 !important;
    color:var(--TEXT-COLOR1);
}

.header__routine.action {}
.header__routine.action .imgAction {
    background: var(--BACK-COLOR7);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 120px;
    border-radius: 10px;
}
.header__routine.action .imgAction img {
    width: 67px;
}
.header__routine.action .centerbox {
    text-align: center;
    position: relative;
}
.header__routine.action .centerbox h1 {
    color:var(--TEXT-COLOR2) !important;
}

.btn__recommand__action {
    background: var(--MAIN-COLOR1);
    color:#fff;
    padding: 8px 0;
    width: 84px;
    position: absolute;
    right: 0;
    border-radius: 16px;
    box-shadow: 3px 3px 8px 4px rgba(0,0,0,0.08);
}
.formbox h2.addIco {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.formbox h2.addIco b {
    font-size:15px;
}
.formbox .settime img {
    padding-left:10px;
}
.formbox.paddingCommon {
    padding: 15px;
}

/* 이모지 추가 팝업 */
.popup.emoji .content {
    height:calc(100vh - 70px);
}
.popup.emoji .emoji__outer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    flex-wrap:wrap;
}
.popup.emoji .emoji__inner {
    width: calc(25% - 10px);
}
.popup.emoji .emoji__inner img {
    width: 100%;
}

i.ico__check {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--MAIN-COLOR1);
    margin-left: 15px !important;
}

.ico_action{
    display: inline-block;
    margin-right: 5px !important;
    height: 26px !important;
}
.draggable {
    transition-duration: .2s;
}

.draggable.over {
    transform: scale(1.1);
}
.ico__move {
    height: 25px !important;
}
.ico__left__check{
    height: 25px !important;
    margin-left: 10px !important;
    margin-right: 5px !important;
}

.page__end__routine {
    text-align: center;
}
.page__end__routine img {
    width: 141px;
    margin-top: 50%;
}
.page__end__routine p {
    font-size:23px;
    margin-top: 110px;
}
.page__write__review {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    height: calc(100vh - 30px);
}
.page__write__review__inner {
    width: 100%;
}
.page__write__review h2 {
    font-size:25px;
    font-weight: 600;
    margin-bottom: 40px;
}
.page__write__review textarea {
    width: 100%;
    height: 216px;
    border-radius: 16px;
    background: var(--BACK-COLOR4);
    resize:none;
    border:0;
    padding: 20px;
    box-shadow:3px 3px 8px 4px rgba(0,0,0,0.08);
    font-size:15px;
    color:var(--TEXT-COLOR4);
}
.page__write__review textarea::placeholder {
    color:var(--TEXT-COLOR4);
}
.page__write__review .btnbox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 40px;
}
.page__write__review .btnbox button.active {
    background: var(--MAIN-COLOR1);
    color:#fff;
}
.btn__share {
    position: absolute;
    right: 0;
    top: 5px;
}

.result__data {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 65px;
    background: var(--BACK-COLOR4);
    box-shadow:3px 3px 8px 4px rgba(0,0,0,0.08);
    width:90%;
    margin:20px auto;
    border-radius: 16px;
    padding: 20px 0;
    margin-bottom: 20px;
}
.result__data>div {
    text-align: center;
}
.result__data>div h3 {
    color:var(--TEXT-COLOR4);
    font-size:18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.result__data>div strong {
    font-size:18px;
    font-weight: bold;
}

.result__actionbox {}
.result__actionbox .box {}
.result__actionbox .left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.result__actionbox .left img {
    margin-right: 10px !important;
}
.result__actionbox .left .text {}
.result__actionbox .left .text .name {
    color:var(--TEXT-COLOR4);
    font-size:14px;
    margin-bottom: 5px !important;
}
.result__actionbox .left .text .btm {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.result__actionbox .left .text .btm img {
    margin-right: 5px !important;
}
.result__actionbox .left .text .btm b {
    color:var(--POINT-COLOR3);
    font-size:14px;
}
.result__actionbox .inputType1 {
    padding: 10px 15px;
    margin-bottom: 15px;
}
.result__actionbox .mark {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 21px;
    line-height: 21px;
    background: var(--MAIN-COLOR1);
    color:#fff;
    border-radius: 16px;
    font-size:10px;
}
.processbtmbox {
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.processbtmbox span {
    display: inline-block;
    width: 24px;
    height: 8px;
    background: var(--BACK-COLOR9);
    border-radius: 10px;
}
.processbtmbox span.swiper-pagination-bullet-active {
    width: 48px;
    background: var(--POINT-COLOR3);
}

.formbox.retrospect {}
.formbox.retrospect * {
    font-size:14px;
}
.formbox.retrospect h2 {
    font-size:15px;
}
.formbox.retrospect h3 {}
.formbox.retrospect .comment {}
.formbox.retrospect .txtLeft {
    text-align: left;
    font-size:20px;
}
.formbox.retrospect .txtRight {
    text-align: right;
    font-size:20px;
}
.formbox.retrospect .txtIndent {
    padding-left: 17px;
}
.swiper__routinename {
    height:140px;
    margin-top: 20px;
}
.swiper__routinename .swiper-wrapper>div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:18px !important;
    color:var(--TEXT-COLOR6);
    font-weight: bold;
}
.swiper__routinename .swiper-wrapper>div.swiper-slide-active{
    background: var(--BACK-COLOR7);
    color:var(--TEXT-COLOR1) !important;
    font-size:20px !important;
}