@charset "utf-8";

:root {
    --MAIN-COLOR1:#FFB800;

    --TEXT-COLOR1:#6B6B6B;
    --TEXT-COLOR2:#9B9B9B;
    --TEXT-COLOR3:#BABABA;
    --TEXT-COLOR4:#8F8F8F;
    --TEXT-COLOR5:#747474;
    --TEXT-COLOR6:#AFAFAF;

    --BACK-COLOR1:#8F8F8F;
    --BACK-COLOR2:#F5F5F5;
    --BACK-COLOR3:#FFF4D8;
    --BACK-COLOR4:#FAFAFA;
    --BACK-COLOR5:#FFF2D0;
    --BACK-COLOR6:#D4D4D4;
    --BACK-COLOR7:#FFEEC2;
    --BACK-COLOR8:#E4E4E4;
    --BACK-COLOR9:#CFEEFF;
    --BACK-COLOR10:#FFF9F0;
    --BACK-COLOR11:#FFCD4E;
    --BACK-COLOR12:#F6F6F6;
    --BACK-COLOR13:#EDEBE8;

    --ERROR-COLOR:#FF5C00;
    --KAKAO-COLOR:#FFD600;
    --POINT-COLOR1:#F9CD5C;
    --POINT-COLOR2:#FFC123;
    --POINT-COLOR3:#00A3FF;
}

.mainColor {
    color:var(--MAIN-COLOR1) !important
}
.wrapper {
	max-width:480px;
	margin:0 auto;
	position: relative;
	box-shadow: 0 0 40px 10px rgba(0,0,0,0.05);
	border-radius: 10px;
	padding: 15px;
	min-height: 100vh;
}
.formbox {
    position: relative;
    background: var(--BACK-COLOR4);
    border-radius: 16px;
    box-shadow: 3px 3px 8px 4px rgba(0,0,0,0.08);
    padding: 16px 25px 14px 11px;
}
.formbox.disabled * {
    opacity: 0.6;
}
.formbox h2 {
    font-size:15px;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 0 !important;
    color:var(--TEXT-COLOR5) !important;
}
.inputType1 {
    border-radius: 16px;
    box-shadow: 3px 3px 8px 4px rgba(0,0,0,0.08);
    padding: 7px 15px;
    outline:0;
    border:0;
    background: var(--BACK-COLOR4);
}
.radio__wrap span {
    font-size:14px;
    color:var(--TEXT-COLOR4);
}
.radio__wrap input {
    position: fixed;
    left:-9999px;
}
.radio__wrap label.active {
    background: var(--MAIN-COLOR1);
}
.radio__wrap label.active span {
    color:#fff;
}

.w100 {
    width: 100%;
}
button.inputType1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 34px;
}
.flexBetween{
    display: flex;
    justify-content: space-between !important;
    align-items: center;
}
.flexBetween * {
    margin: 0 !important;
}
button.fakeSelect {
    width:220px;
    position: relative;
}
.fakeSelect {
    border-radius: 16px;
    box-shadow: 3px 3px 8px 4px rgba(0,0,0,0.08);
    padding: 7px 15px;
    outline:0;
    border:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--BACK-COLOR4);
}
.fakeSelect span {
    color:var(--TEXT-COLOR4);
    font-weight: 600;
}
.fakeSelect__wrap {
    position: relative;
}
.fakeSelect__options {
    border-radius: 16px;
    box-shadow: 3px 3px 8px 4px rgba(0,0,0,0.08);
    padding: 7px 15px;
    outline:0;
    border:0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    background: var(--BACK-COLOR4);
    position: absolute;
    width: 100%;
    top: 50px;
    left: 0;
    max-height: 130px;
    overflow: auto;
    z-index: 1;
}
.fakeSelect__options span {
    display: block;
    width: 100%;
    padding: 5px 0;
}

/* radioCommonLabel */
.radioCommonLabel input[type='radio'] {
    position: fixed;
    left:-9999px;
}
.formbox.actionType {
    padding:16px 16px 25px;
}
.radioCommonLabel {
    gap: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.radioCommonLabel label span {
    color:var(--TEXT-COLOR4);
}

.radioCommonLabel label.active {
    background: var(--MAIN-COLOR1);
}
.radioCommonLabel label.active span {
    color:#fff;
}


/* navbar */
.navbar {
    width: 100%;
	max-width: 480px;
	height: 93px;
	background-color: white;
	border-radius: 30px 30px 0 0;
	box-shadow: 0px -1px 5px 2px rgba(0, 0, 0, 0.2);
	position: fixed;
	z-index: 99;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	padding: 24px 28px 39px;
}
.navbar__inner{
    display: flex;
	align-items: center;
	box-sizing: border-box;
    width:30%;
    justify-content: space-between;
}
.navbar .button__add {
    width: 60px;
	height: 60px;
	z-index: 101;
	background-color: var(--MAIN-COLOR1);
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.25);
	position: fixed;
	bottom: 32px;
	left: 50%;
	transition-duration: 0.3s;
	cursor: pointer;
    transform:translate(-50%, 0) rotate(0);
}
.navbar .button__add.active {
    transform:translate(-50%, 0) rotate(45deg);
}
.AddSelectModal {
    width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.45);
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
}
.AddSelectModal .inner {
    width: 100%;
	min-width: 320px;
	max-width: 480px;
	height: 100vh;
	overflow-x: hidden;
	margin: auto;
	position: relative;
}

/* toggleSwitch */
.toggleSwitch {
    width: 32px;
    height: 18px;
    border-radius: 9px;
    background: var(--BACK-COLOR6);
    padding: 2px;
    position: relative;
}
.toggleSwitch span {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #fff;
    display: inline-block;
    transition-duration: .2s;
    position: absolute;
    top:2px;
    left:2px;
}
.toggleSwitch.active {
    background: var(--MAIN-COLOR1);
}
.toggleSwitch.active span {
    left:16px
}
.popup__question__info {
    position: absolute;
    background: #fff;
    border-radius: 16px;
    box-shadow: 3px 3px 8px rgba(0,0,0,0.25);
    padding: 15px;
    width: 293px;
    z-index: 1;
    top:40px;
    left:25px;
}
.popup__question__info__inner {
    position: relative;
}
.popup__question__info:before {
    content:'';
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 1px;
    position: absolute;
    top: -7px;
    left: 30px;
    background: #fff;
    box-shadow:-2px -2px 4px rgba(0,0,0,0.05);
    z-index: 0;
    transform:rotate(45deg) skew(15deg, 15deg);
}
.popup__question__info h4 {
    font-size:15px;
    margin-bottom: 10px !important;
}
.popup__question__info p {
    font-size:14px;
    color:var(--TEXT-COLOR4);
    letter-spacing: -0.5px;
    line-height: 1.6;
}

.removePadding {
	padding: 0;
}
button {
    cursor:pointer;
}
/* 
*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
*::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
    background-clip: padding-box;
    border: 1px solid transparent;
}
*::-webkit-scrollbar-track {
    background-color: #eee;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
} */