@charset "utf-8";

:root {
    --MAIN-COLOR1:#FFB800;

    --TEXT-COLOR1:#6B6B6B;
    --TEXT-COLOR2:#9B9B9B;
    --TEXT-COLOR3:#BABABA;
    --TEXT-COLOR4:#8F8F8F;
    --TEXT-COLOR5:#747474;

    --BACK-COLOR1:#8F8F8F;
    --BACK-COLOR2:#F5F5F5;
    --BACK-COLOR3:#FFF4D8;
    --BACK-COLOR4:#FAFAFA;
    --BACK-COLOR5:#FFF2D0;
    --BACK-COLOR6:#D4D4D4;
    --BACK-COLOR7:#FFEEC2;

    --ERROR-COLOR:#FF5C00;
    --KAKAO-COLOR:#FFD600;
    --POINT-COLOR1:#F9CD5C;
}
.wrapper {
	max-width:480px;
	margin:0 auto;
	position: relative;
	box-shadow: 0 0 40px 10px rgba(0,0,0,0.05);
	border-radius: 10px;
	padding: 15px;
	min-height: 100vh;
}
.formbox {
    background: var(--BACK-COLOR4);
    border-radius: 16px;
    box-shadow: 3px 3px 8px 4px rgba(0,0,0,0.08);
    padding: 16px 25px 14px 11px;
}
.formbox h2 {
    font-size:15px;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 0 !important;
    color:var(--TEXT-COLOR5) !important;
}
.inputType1 {
    border-radius: 16px;
    box-shadow: 3px 3px 8px 4px rgba(0,0,0,0.08);
    padding: 7px 15px;
    outline:0;
    border:0;
    background: var(--BACK-COLOR4);
}
.radio__wrap span {
    font-size:14px;
    color:var(--TEXT-COLOR4);
}
.radio__wrap input {
    position: fixed;
    left:-9999px;
}
.radio__wrap label.active {
    background: var(--MAIN-COLOR1);
}
.radio__wrap label.active span {
    color:#fff;
}

.w100 {
    width: 100%;
}
button.inputType1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flexBetween{
    display: flex;
    justify-content: space-between !important;
    align-items: center;
}
.flexBetween * {
    margin: 0 !important;
}
button.fakeSelect {
    width:220px;
    position: relative;
}
.fakeSelect {
    border-radius: 16px;
    box-shadow: 3px 3px 8px 4px rgba(0,0,0,0.08);
    padding: 7px 15px;
    outline:0;
    border:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--BACK-COLOR4);
}
.fakeSelect span {
    color:var(--TEXT-COLOR4);
    font-weight: 600;
}
.fakeSelect__wrap {
    position: relative;
}
.fakeSelect__options {
    border-radius: 16px;
    box-shadow: 3px 3px 8px 4px rgba(0,0,0,0.08);
    padding: 7px 15px;
    outline:0;
    border:0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    background: var(--BACK-COLOR4);
    position: absolute;
    width: 100%;
    top: 50px;
}
.fakeSelect__options span {
    display: block;
    width: 100%;
    padding: 5px 0;
}
/* navbar */
.navbar {
    width: 100%;
	max-width: 480px;
	height: 93px;
	background-color: white;
	border-radius: 30px 30px 0 0;
	box-shadow: 0px -1px 5px 2px rgba(0, 0, 0, 0.2);
	position: fixed;
	z-index: 99;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	padding: 24px 28px 39px;
}
.navbar__inner{
    display: flex;
	align-items: center;
	box-sizing: border-box;
    width:calc(50% - 60px);
    justify-content: space-between;
}
.navbar .button__add {
    width: 60px;
	height: 60px;
	z-index: 101;
	background-color: var(--MAIN-COLOR1);
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.25);
	position: fixed;
	bottom: 32px;
	left: 50%;
	transition-duration: 0.3s;
	cursor: pointer;
    transform:translate(-50%, 0) rotate(0);
}
.navbar .button__add.active {
    transform:translate(-50%, 0) rotate(45deg);
}
.AddSelectModal {
    width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.45);
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
}
.AddSelectModal .inner {
    width: 100%;
	min-width: 320px;
	max-width: 480px;
	height: 100vh;
	overflow-x: hidden;
	margin: auto;
	position: relative;
}

.AddSelectModal button {

}
@keyframes slideIn {
    0% {}
    100% {}
}